.advantages {
  position: relative;
  padding-top: 112px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 104px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 63px;
  }
}

.advantages h2 {
  margin: 0;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 6px;
  }

  @include vp-767 {
   padding-right: 68px;
  }
}

.advantages br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.advantages p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
    padding-left: 15px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 28px;
    padding-left: 5px;
  }
}

.advantages__item {
  background-color: $color-white;
  padding: 30px 30px 50px 30px;

  @include vp-1023 {
    padding: 26px 9px 25px 13px;
  }
  @include vp-1023 {
    padding-right: 24px;
  }
}

.advantages .advantages__item--margin h3 {
  @include vp-1023 {
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 9px;
  }
}

.advantages svg {
  margin-bottom: 12px;
}

.advantages img {
  position: absolute;
  content: "";
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
