.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  background-color: $color-white;
  color: $color-dark-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    border: none;
    outline: 2px solid $color-white;
  }
}
