.catalog {
  padding-top: 82px;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.catalog h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 14px;
  row-gap: 30px;

  @include vp-1279 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 10px;
    column-gap: 32px;
    row-gap: 29px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    row-gap: 30px;
    padding: 0;
  }
}
