.hero {
  position: relative;
}

.hero::before {
  position: absolute;
  content: "";
  z-index: -20;
  width: 100%;
  height: 100%;
  background-color: $color-dark-blue;
}

.hero__content-wrapper {
  padding-top: 271px;
  padding-bottom: 285px;
  padding-left: 96px;

  @include vp-1023 {
    padding-top: 269px;
    padding-bottom: 273px;
    padding-left: 10px;
  }

  @include vp-767 {
    padding-top: 177px;
    padding-bottom: 177px;
    padding-left: 0;
    padding-right: 60px;
  }
}

.hero h1 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-white;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.hero p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: $color-white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.hero__image-wrapper img {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 22% 72%;
}
