.main-navigation {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 108px;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 71px;
  }
}

.is-open .main-navigation {
  width: 89%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-navigation__logo-link {
  margin-right: 20px;

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    border: none;
    outline: 2px solid $color-white;
  }
}

.main-navigation__wrapper {
  @include vp-1023 {
    padding-left: 8px;
  }

  @include vp-767 {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.main-navigation__toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: relative;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
  }
}

.main-navigation__toggle::before {
  @include vp-767 {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    width: 24px;
    height: 2px;
    background-color: $color-white;
    box-shadow: 0 4px 0 0 $color-white, 0 8px 0 0 $color-white;
  }
}

.main-navigation__list {
  @include vp-767 {
    display: none;
  }
}
