.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 108px;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 71px;
  }
}

.main-navigation__logo-link {
  margin-right: 20px;

  @include vp-1023 {
    padding-left: 8px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.main-navigation__wrapper {
  @include vp-767 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.main-navigation__toggle {
  display: none;
}

.main-navigation--closed .main-navigation__toggle {
  @include vp-767 {
    display: block;
    position: relative;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 24px;
  height: 2px;
  background-color: $color-white;
  box-shadow: 0 4px 0 0 $color-white, 0 8px 0 0 $color-white;
}

.main-navigation--closed .main-navigation__list {
  @include vp-767 {
    display: none;
  }
}
