.map {
  position: relative;
  width: 100%;
  height: 306px;

  @include vp-1023 {
    height: 315px;
  }

  @include vp-767 {
    order: 2;
    height: 316px;
  }
}

.map iframe {
  width: 100%;
  height: 100%;
}

.map img {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
}
