.promo {
  padding-top: 111px;
  padding-bottom: 145px;

  @include vp-1023 {
    padding-top: 93px;
    padding-bottom: 89px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 92px;
  }
}
.promo-wrapper {
  display: flex;
  gap: 92px;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.promo__content-wrapper {
  width: 46%;
  padding-left: 6px;

  @include vp-1023 {
    width: 47%;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 0;
  }
}

.promo h2 {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-dark-blue;

  @include vp-1023 {
    padding-right: 57px;
    margin-bottom: 19px;
    font-size: 26px;
    line-height: 36px
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
    padding-right: 12px;
  }
}

.promo p {
  margin: 0;
}

.promo img {
  width: 560px;
  height: 301px;

  @include vp-1023 {
    padding-top: 8px;
    width: 324px;
    height: 174px;
  }

  @include vp-767 {
    width: 290px;
    height: 156px;
  }
}
