.promo {
  padding-top: 111px;
  padding-bottom: 145px;

  @include vp-1023 {
    padding-top: 93px;
    padding-bottom: 89px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 83px;
    background-color: #e2eaf7;
  }
}

.promo-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 560px);
  gap: 20px 65px;

  @include vp-1023 {
    grid-template-columns: 1fr minmax(auto, 324px);
    gap: 43px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promo__content-wrapper {
  align-self: center;
  padding-left: 6px;

  @include vp-767 {
    padding-left: 0;
  }
}

.promo__image-wrapper {
  align-self: start;
  @include vp-1023 {
    padding-right: 10px;
    padding-top: 8px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.promo h2 {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-dark-blue;

  @include vp-1023 {
    padding-right: 57px;
    margin-bottom: 19px;
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 34px;
    padding-right: 12px;
  }
}

.promo p {
  margin: 0;
}

.promo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
