.site-list {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1023 {
    gap: 14px;
    padding-right: 5px;
  }

  @include vp-767 {
    margin-left: -8px;
  }
}

.site-list--footer {
  flex-basis: 700px;

  @include vp-1023 {
    flex-basis: 457px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: self-start;
    flex-basis: auto;
    gap: 8px;
  }
}

.site-list__link {
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    border: none;
    outline: 2px solid $color-white;
  }
}

.site-list__link--footer {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    padding: 0;
  }
}
